@model List<Slider>
@{
    ViewData["Title"] = "Nobelyum";
}

<section>
    <div class="d-flex flex-column justify-content-center align-items-center text-center min-vh-100 text-light hero-bg">

        <div class="display-2 mb-3"
             data-aos="fade-up"
             data-aos-duration="1500"
             data-aos-delay="0">
            Tıbbî Araştırmaları <br />
            Köklü Bir Şekilde Dönüştürüyoruz
        </div>

        <div class="fs-6 mb-3"
             data-aos="fade-up"
             data-aos-duration="1500"
             data-aos-delay="400">
            Tıbbın geleceğini, her geçen gün bir adım daha ileriye taşıyoruz.
        </div>

        <a href="#content-section"
           style="width: 100px; height: 100px"
           class="bg-white rounded-pill d-flex align-items-center justify-content-center fs-1 border-0"
           data-aos="fade-up"
           data-aos-duration="1500"
           data-aos-delay="800">
            <div class="scale-inner">
                <i class="bi bi-arrow-down text-dark"></i>
            </div>
        </a>

    </div>
</section>

<section id="content-section" class="rounded-5 bg-white content-section position-relative">
    <div class="container-fluid">

        <div class="row mb-5" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-12 col-lg-6 fs-5 f-inst">
                <div class="mb-3">
                    Dünya çapında tıbbi bakımın geleceğine yatırım yapıyoruz.
                </div>
            </div>

            <div class="col-12 col-lg-6 display-5 section-highlight">
                Nobelyum, dünyanın en zorlu tıbbi sorunlarına
                <span class="text-secondary">yenilikçi çözümler</span>
                bulmaya adanmış, öncü bir tıbbi araştırma şirketidir.
            </div>
        </div>

        <div id="splide1" class="splide py-5">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach(var slider in Model)
                    {
                        <li class="splide__slide">
                            <a href="@(string.IsNullOrEmpty(slider.LinkUrl) ? "#" : slider.LinkUrl)" target="_blank">
                                <img class="img-fluid" src="@Url.Action("GetSliderImage", "Media", new {id = slider.Id})" alt="@slider.Title" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div>
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <div class="display-5 section-highlight">
                        Dünyanın her yerindeki insanların sağlık ve
                        <span class="text-secondary">yaşam kalitesini</span>
                        iyileştirmenin yeni yollarını keşfetmek.
                    </div>
                </div>
            </div>
            <button class="btn btn-dark">Register</button>
        </div>

        <div id="splide2" class="splide py-5">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a href="#" target="_blank">
                            <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                        </a>
                        <h5 class="fw-bold">Beslenme ve Ruh Sağlığı İlişkisi</h5>
                        <p>08.10.2025</p>
                    </li>

                    <li class="splide__slide">
                        <a href="#" target="_blank">
                            <img class="img-fluid" src="/images/blog2.jpg" alt="" />
                        </a>
                        <h5 class="fw-bold">Beslenme ve Ruh Sağlığı İlişkisi</h5>
                        <p>08.10.2025</p>
                    </li>

                    <li class="splide__slide">
                        <a href="#" target="_blank">
                            <img class="img-fluid" src="/images/blog3.jpg" alt="" />
                        </a>
                        <h5 class="fw-bold">Beslenme ve Ruh Sağlığı İlişkisi</h5>
                        <p>08.10.2025</p>
                    </li>

                    <li class="splide__slide">
                        <a href="#" target="_blank">
                            <img class="img-fluid" src="/images/blog3.jpg" alt="" />
                        </a>
                        <h5 class="fw-bold">Beslenme ve Ruh Sağlığı İlişkisi</h5>
                        <p>08.10.2025</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row g-0 mb-5">
            <div class="col-12 col-md-6 order-2 order-md-1 bg-primary d-flex flex-column justify-content-center text-start p-5 text-light">

                <div class="display-4 w-75 mb-3">
                    Clinical Research Studies & Development
                </div>
                <small class="w-75 mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.
                </small>

                <div class="service-block">
                    <div class="d-flex align-items-center">
                        <button class="toggle-btn">
                            <span class="line horizontal"></span>
                            <span class="line vertical"></span>
                        </button>
                        <a href="#" class="learn-more text-light text-decoration-none ms-3 fs-4">
                            Learn More
                        </a>
                    </div>
                    <div class="toggle-text">
                        Lorem ipsum dolor sit amet, consectetur...
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 order-1 order-md-2">
                <img class="img-fluid w-100 object-fit-cover"
                     style="max-height: 580px"
                     src="~/images/image1.webp" alt="Alternate Text" />
            </div>
        </div>

        <div class="row g-0 mb-5">
            <div class="col-12 col-md-6">
                <img class="img-fluid w-100 object-fit-cover"
                     style="max-height: 580px"
                     src="~/images/image2.webp" alt="Alternate Text" />
            </div>

            <div class="col-12 col-md-6 bg-primary d-flex flex-column justify-content-center text-start p-5 text-light">
                <div class="display-4 w-75 mb-3">
                    Pharmaceutical Regulatory Consulting
                </div>

                <small class="w-75 mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.
                </small>

                <div class="service-block">
                    <div class="d-flex align-items-center">
                        <button class="toggle-btn">
                            <span class="line horizontal"></span>
                            <span class="line vertical"></span>
                        </button>
                        <a href="#" class="learn-more text-light text-decoration-none ms-3 fs-4">
                            Learn More
                        </a>
                    </div>
                    <div class="toggle-text">
                        Lorem ipsum dolor sit amet, consectetur...
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center section-highlight text-center py-5">
            <div class="w-25">
                <div class="display-5 mb-3">
                    Partner <span class="text-secondary">collaboration</span> and open innovation.
                </div>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn.</small>
            </div>
        </div>

        <div class="position-relative mb-3">
            <img class="img-fluid rounded-4" src="/images/footer-img.jpg" />
            <div class="overlay"></div>
        </div>

    </div>
</section>
