@{
    ViewData["Title"] = "Nobelyum";
}

<section>
    <div class="container mb-3">
        <div id="splide1" class="splide">
            <div class="splide__track rounded-3">
                <ul class="splide__list">
                    <li class="splide__slide"><img src="/images/slider1.jpg" alt="Alternate Text" /></li>
                    <li class="splide__slide"><img src="/images/slider2.jpg" alt="Alternate Text" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
    </div>
</section>

<section>
    <div id="splide2" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                    <h5>
                        <b>
                            Beslenme ve Ruh Sağlığı İlişkisi
                        </b>
                    </h5>
                    <p>08.10.2025</p>
                </li>
                <li class="splide__slide">
                    <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                    <h5>
                        <b>
                            Beslenme ve Ruh Sağlığı İlişkisi
                        </b>
                    </h5>
                    <small>08.10.2025</small>
                </li>
                <li class="splide__slide">
                    <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                    <h5>
                        <b>
                            Beslenme ve Ruh Sağlığı İlişkisi
                        </b>
                    </h5>
                    <small>08.10.2025</small>
                </li>
                <li class="splide__slide">
                    <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                    <h5>
                        <b>
                            Beslenme ve Ruh Sağlığı İlişkisi
                        </b>
                    </h5>
                    <small>08.10.2025</small>
                </li>
                <li class="splide__slide">
                    <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                    <h5>
                        <b>
                            Beslenme ve Ruh Sağlığı İlişkisi
                        </b>
                    </h5>
                    <small>08.10.2025</small>
                <li class="splide__slide">
                    <img class="img-fluid" src="/images/blog1.jpg" alt="" />
                    <h5>
                        <b>
                            Beslenme ve Ruh Sağlığı İlişkisi
                        </b>
                    </h5>
                    <small>08.10.2025</small>
                </li>
                </li>
            </ul>
        </div>
    </div>
</section>