@import '_variables.scss';

.f-wix {
    font-family: "Wix Madefor Display", sans-serif;
}

.f-inst {
    font-family: "Instrument Sans", sans-serif;
}

body {
    background-color: #030712;
    font-family: "Wix Madefor Display", sans-serif;
}

.btn {
    @extend .rounded-3;
    @extend .px-4;
    @extend .py-2;
    @extend .border-0;
    transition: all ease-in-out 0.4s;
}

.btn-light:hover {
    background: $black;
    color: $light;
    transition: all ease-in-out 0.4s;
}

.btn-dark:hover {
    background: $primary;
    color: $light;
    transition: all ease-in-out 0.4s;
}

header ul li a {
    color: white !important;
}

.border-dashed {
    border-style: dashed !important;
}

.form-control {
    color: $light;
    border-color: $secondary;
    background-color: transparent !important;

    &::placeholder{
        color: $secondary;
    }

    &:focus{
        border-color: $light;
        color: $light;
    }
}

.drag-over {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: $light !important;
    border-style: solid !important;
}