@import '_variables.scss';
@import '_mixins.scss';

.f-wix {
    font-family: "Wix Madefor Display", sans-serif;
}

.f-inst {
    font-family: "Instrument Sans", sans-serif;
}

body {
    font-family: "Wix Madefor Display", sans-serif;
}

.btn {
    @extend .rounded-pill;
    @extend .px-4;
    @extend .py-2;
    @extend .border-0;
    transition: all ease-in-out 0.4s;
}

.btn-light:hover {
    background: $black;
    color: $light;
    transition: all ease-in-out 0.4s;
}

.btn-dark:hover {
    background: $primary;
    color: $light;
    transition: all ease-in-out 0.4s;
}
