$primary: #00327D;
$secondary: #434343;
$danger: #ED1A1A;
$success: #00C4AE;
$warning: #FFD64E;
$info: #3498DB;
$dark: #222222;

@import "../lib/bootstrap/scss/bootstrap.scss";

nav ul li a{
    color: $dark !important;
}

footer {
    background: #0E4A9C;
    background: linear-gradient(180deg,rgba(14, 74, 156, 1) 0%, rgba(108, 179, 240, 1) 100%);

    nav ul li a {
        color: $light !important;
    }
}
