@model MedicalHub.Models.Slider

<div class="row">
    <div class="d-flex justify-content-between ">
        <h4 class="text-light">
            Slider Ekle
        </h4>
    </div>
</div>

<section>
    <form asp-action="Create" typeof="submit">
        <div class="input-group">
            <input class="form-control" />
        </div>
    </form>
</section>